doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        style 
             include ../Public/style.css
    
    body 
        nav
           ul 
             li
               a.active(href='/') Home
             li     
               a(href='/Services') Services 
             li 
               a(href='/Contact') Contact 


        
        h1.header Guitar Lesson
        p.para Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam commodi cupiditate odit voluptas laudantium tempore harum exercitationem sint error perspiciatis rerum, eum sequi, animi distinctio dolorem doloremque quibusdam minima possimus. Perferendis veritatis autem voluptas sed necessitatibus! Accusamus doloremque voluptatem necessitatibus repellendus, cumque accusantium blanditiis voluptas repellat quod sit quas obcaecati? Accusantium magni, doloremque hic voluptas assumenda temporibus architecto dolorum fuga minus blanditiis nihil neque animi voluptates eaque praesentium, earum a autem cumque sapiente. Fuga culpa sapiente pariatur. Eius placeat aliquam maxime rerum praesentium aspernatur eveniet id expedita fugiat. Sapiente ipsum iure quasi neque blanditiis sint? Inventore necessitatibus odit aliquid recusandae?

        p.para Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam commodi cupiditate odit voluptas laudantium tempore harum exercitationem sint error perspiciatis rerum, eum sequi, animi distinctio dolorem doloremque quibusdam minima possimus. Perferendis veritatis autem voluptas sed necessitatibus! Accusamus doloremque voluptatem necessitatibus repellendus, cumque accusantium blanditiis voluptas repellat quod sit quas obcaecati? Accusantium magni, doloremque hic voluptas assumenda temporibus architecto dolorum fuga minus blanditiis nihil neque animi voluptates eaque praesentium, earum a autem cumque sapiente. Fuga culpa sapiente pariatur. Eius placeat aliquam maxime rerum praesentium aspernatur eveniet id expedita fugiat. Sapiente ipsum iure quasi neque blanditiis sint? Inventore necessitatibus odit aliquid recusandae?

        p.para Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam commodi cupiditate odit voluptas laudantium tempore harum exercitationem sint error perspiciatis rerum, eum sequi, animi distinctio dolorem doloremque quibusdam minima possimus. Perferendis veritatis autem voluptas sed necessitatibus! Accusamus doloremque voluptatem necessitatibus repellendus, cumque accusantium blanditiis voluptas repellat quod sit quas obcaecati? Accusantium magni, doloremque hic voluptas assumenda temporibus architecto dolorum fuga minus blanditiis nihil neque animi voluptates eaque praesentium, earum a autem cumque sapiente. Fuga culpa sapiente pariatur. Eius placeat aliquam maxime rerum praesentium aspernatur eveniet id expedita fugiat. Sapiente ipsum iure quasi neque blanditiis sint? Inventore necessitatibus odit aliquid recusandae?

        p.para Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam commodi cupiditate odit voluptas laudantium tempore harum exercitationem sint error perspiciatis rerum, eum sequi, animi distinctio dolorem doloremque quibusdam minima possimus. Perferendis veritatis autem voluptas sed necessitatibus! Accusamus doloremque voluptatem necessitatibus repellendus, cumque accusantium blanditiis voluptas repellat quod sit quas obcaecati? Accusantium magni, doloremque hic voluptas assumenda temporibus architecto dolorum fuga minus blanditiis nihil neque animi voluptates eaque praesentium, earum a autem cumque sapiente. Fuga culpa sapiente pariatur. Eius placeat aliquam maxime rerum praesentium aspernatur eveniet id expedita fugiat. Sapiente ipsum iure quasi neque blanditiis sint? Inventore necessitatibus odit aliquid recusandae?
               