doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        style 
             include ../Public/style.css
    body 
        
        nav
           ul 
             li
               a.active(href='/') Home
             li     
               a(href='/Services') Services 
             li 
               a(href='/Contact') Contact 

   
    
    h1 Guitar Lessons Course 

    h2 Learn from a professional


    div.container 
       img(src="https://images.unsplash.com/photo-1593697972646-2f348871bd56?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80", alt="image")

       img(src="https://images.unsplash.com/photo-1604286742257-9d211b05b0df?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80", alt="image")
       
       img(src="https://images.unsplash.com/photo-1593697821252-0c9137d9fc45?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80", alt="image")   